

$fonts-headline: "Impact";
$fonts-body: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$background-image: url(robot.svg);
$background-imagecolor: url(board2.svg);
$primary: #77c4d3;
$accent1: #ea2e49;
$color: rgb(238, 255, 1);
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: rgb(253, 253, 253);
$text-light: rgb(248, 241, 241);
